@import "materialize";

/*Custom*/

.input-field {
  position: relative;
  margin-top: 1rem; }
  .input-field label {
    color: #ddd;
    position: absolute;
    top: 0.8rem;
    left: 0.75rem;
    font-size: 1rem;
    cursor: text;
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    -ms-transition: .2s ease-out;
    transition: .2s ease-out; }
  .input-field label.active {
    font-size: 0.8rem;
    -webkit-transform: translateY(-140%);
    -moz-transform: translateY(-140%);
    -ms-transform: translateY(-140%);
    -o-transform: translateY(-140%);
    transform: translateY(-140%); }
  .input-field .prefix {
    position: absolute;
    width: 3rem;
    font-size: 2rem;
    -webkit-transition: color .2s;
    -moz-transition: color .2s;
    -o-transition: color .2s;
    -ms-transition: color .2s;
    transition: color .2s; }
    .input-field .prefix.active {
      color: #b71c1c; }
  .input-field .prefix ~ input, .input-field .prefix ~ textarea {
    margin-left: 3rem;
    width: 92%;
    width: calc(100% - 3rem); }
  .input-field .prefix ~ textarea {
    padding-top: .8rem; }
  .input-field .prefix ~ label {
    margin-left: 3rem; }
  @media only screen and (max-width : 992px) {
    .input-field .prefix ~ input {
      width: 86%;
      width: calc(100% - 3rem); } }
  @media only screen and (max-width : 600px) {
    .input-field .prefix ~ input {
      width: 80%;
      width: calc(100% - 3rem); } }







body{
background-color:eee;
}

html {
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.6); }
  @media only screen and (min-width: 0) {
    html {
      font-size: 14px; } }
  @media only screen and (min-width: 992px) {
    html {
      font-size: 14.5px; } }
  @media only screen and (min-width: 1200px) {
    html {
      font-size: 15px; } }


 nav .brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    font-weight: bold;
    padding: 0;
    white-space: nowrap; }

.star{
	color: red;
	font-size: 1.5rem;
	display: inline-block;
	padding:15 0 6 6;
}

.score{
	color: red;
	font-size: 2.3rem;
	display: inline-block;
	padding:5 5 20 5;
}

.popularity{
    color:#999;   
}

.collection .collection-item.avatar .title {
        font-size: 20px; 
        color:#ff5252;
        display:block;
        padding: 15 0 0 0;
        font-weight: bold;
}

.collection .collection-item {
    background-color: #fff;
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0px;
    border-bottom: 1px solid #e0e0e0; }

.collection-item.h1 {
    background-color: #ddd;
}

 .collection .collection-item.avatar {
    min-height: 130px;
    padding-left: 170px;
    position: relative; }

 .collection .collection-item.avatar .circle {
        position: absolute;
        width: 110px;
        height: 110px;
        overflow: hidden;
        left: 15px;
        display: inline-block;
        vertical-align: middle; }

.top-card {
  margin: 22px 0 0 0;
}

.second-card {
  margin: 22px 0 0 0;
}

.ad-card-top{
    display: block;
	margin: auto;
}




